# core requirements
matplotlib==3.5.1
networkx==2.7.1
pyyaml==6.0
snips-nlu==0.20.2
spacy==3.3.0
types-PyYAML==6.0.7

# extras for development
black==22.3.0
flake8==4.0.1
mypy==0.950
pytest==5.2.0
pytest-custom_exit_code
coverage==4.5.4
pytest-cov==2.8.0
pytest-benchmark==3.2.2
pylint==2.3.1
sphinx==4.5.0
sphinx-autodoc-typehints==1.18.1
sphinx_rtd_theme==1.0.0
